.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 5;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0px 0px 20px -5px #000;
}

.navUl {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 0.95em;
  color: #000;

  a:active {
    color: #e91e63;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.1s;

    &:hover {
      cursor: pointer;
      color: #e91e63;
    }
    &:first-child {
      font-size: 1.9em;
    }
  }
}
