@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.625em; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #282E3A; }

::-webkit-scrollbar-thumb:hover {
  background: #777777; }
